<h1>Ask your coach a question...</h1>
<img src="/../assets/images/coach.png" id="coach">
<div class="card">
<form action="answer">
  <input type="text" name="question" class="textbox">
  <input type="submit" value="Ask!" class="btn">
</form>
</div>
