<h1>Ask your coach a question...</h1>

<div class="coach-img">
  <%= image_tag "coach.png" %>
</div>
<div class="card">
<form action="answer">
  <input type="text" name="question" class="textbox" placeholder="Your dumb question here plz">
  <input type="submit" value="Ask!" class="btn">
</form>
</div>
